* {
    box-sizing: border-box;
}

body {
    font-size: 14px;
}

.v1_2 {
    width: 100%;
    height: 1024px;
    background: rgba(255, 255, 255, 1);
    opacity: 1;
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
}

.v1_3 {
    width: 100%;
    color: rgba(0, 0, 139, 1);
    position: absolute;
    top: 34px;
    left: 42px;
    font-size: 128px;
    opacity: 1;
    text-align: left;
}

.v1_5 {
    width: 799px;
    height: 181px;
    background: rgba(0, 0, 139, 1);
    opacity: 1;
    position: absolute;
    top: 401px;
    left: 341px;
}

.v1_7 {
    width: 538px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 446px;
    left: 483px;
    font-family: IBM Plex Mono;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: left;
}

.v1_9 {
    width: 799px;
    height: 181px;
    background: rgba(0, 0, 139, 1);
    opacity: 1;
    position: absolute;
    top: 675px;
    left: 341px;
}

.v1_11 {
    width: 154px;
    color: rgba(255, 255, 255, 1);
    position: absolute;
    top: 724px;
    left: 664px;
    font-family: IBM Plex Mono;
    font-weight: Regular;
    font-size: 64px;
    opacity: 1;
    text-align: left;
}