
/* Add font files for IBM Plex Mono */
@font-face {
  font-family: 'IBM Plex Mono';
  src: url('fonts/ibm-plex-mono.woff2') format('woff2'),
       url('fonts/ibm-plex-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family-ibm-plex-mono: 'IBM Plex Mono', sans-serif;
  --text-rgb-0-0-139: rgba(0, 0, 139, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.text-rgb-0-0-139 {
  color: var(--text-rgb-0-0-139);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.text-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-ibm-plex-mono);
  font-weight: normal;
  font-size: 128px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-0-139);
  font-family: var(--font-family-ibm-plex-mono);
  font-weight: 700;
  font-size: 128px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-0-0-139);
}

.ellipse-1-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 139, 1);
  border: none;
  outline: none;
}

.text-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-ibm-plex-mono);
  font-weight: normal;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.ellipse-2-5 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  fill: rgba(0, 0, 139, 1);
  border: none;
  outline: none;
}

.text-6 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-ibm-plex-mono);
  font-weight: normal;
  font-size: 64px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.desktop-1-1 {
@media (max-width: 1440px) {
  .desktop-1-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .desktop-1-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
